<mat-card class="cardobj" style="display:flex;flex-direction:column;height:100%;">
  <mat-card-header><mat-card-title>
    
    <ng-container *ngIf="publication.link !== ''; else noLink">
      <a (click)="getCitation(publication.link)" style="cursor:pointer;">{{ publication.title }}</a>
    </ng-container>
    <ng-template #noLink>
      <span>{{ publication.title }}</span>
    </ng-template>
  </mat-card-title>
    <mat-card-subtitle *ngIf="publication.type=='article'">{{publication.type}} published in {{publication.journal}} ({{publication.date}})</mat-card-subtitle><mat-card-subtitle *ngIf="publication.type!='article'">{{publication.type}} {{publication.journal}} ({{publication.date}})</mat-card-subtitle></mat-card-header>
  <mat-card-content>
    <app-publication-entry-authors [authors]="publication.authors"></app-publication-entry-authors><app-publication-entry-tags [tags]="publication.tags" class="cardobj"></app-publication-entry-tags>
    <div style="display:flex;flex-direction: row;flex-wrap: wrap;padding: 3rem; ">
    <img mat-card-image [src]="publication.image || 'assets/default-image.png'" alt="{{publication.title}}">
    </div>
    <mat-expansion-panel *ngIf="publication.abstract.length>0"><mat-expansion-panel-header><mat-panel-title>Abstract</mat-panel-title></mat-expansion-panel-header><span style="font-style: italic;">{{publication.abstract}}</span></mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions>
    <!-- <a (click)="getCitation(publication.link)"><i class="material-icons" title="Go to publisher page" style="cursor:pointer;">public</i></a><a (click)="citeme()"><i class="material-icons" title="Get Bibtex File" style="cursor:pointer;">note_add</i></a><a [href]="publication.download" [download]="publication.journal" target="_blank" rel="noopener noreferrer" *ngIf="canidownloadit"><i class="material-icons" style="cursor:pointer;" *ngIf="publication.download!=null">cloud_download</i></a> -->
  </mat-card-actions>
</mat-card>