.btnInfo {
    padding: 1rem;
}


.cv-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(45deg, #007bff, #00d4ff);
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em; /* Add margin-bottom here */

}

.cv-button:hover {
    background: linear-gradient(45deg, #00d4ff, #007bff);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.cv-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}