<div class="home-container">
  <!-- Header Section: Name on left / Navbar on right -->
  <header class="header">
    <div class="name">
      <h1>Dr. Eros Montin, Ph.D.</h1>
    </div>
    <nav class="navbar">
      <a routerLink="/publications">Publications</a>
      <a routerLink="/projects">Projects</a>
      <a routerLink="/conferences">Conferences</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/about">About</a>
    </nav>
  </header>

  
  <!-- 4 x 4 Grid Section -->
  <section class="grid-container">
    <div class="grid-item">Projects</div>
    <div class="grid-item">Research</div>
    <div class="grid-item">Opensource</div>
    <div class="grid-item">Life</div>
    
    <div class="grid-item">Education</div>
    <div class="grid-item">Events</div>
    <div class="grid-item">Community</div>
    <div class="grid-item">Blog</div>
    
    <div class="grid-item">About</div>
    <div class="grid-item">Contact</div>
    <div class="grid-item">Tools</div>
    <div class="grid-item">Resources</div>
    
    <div class="grid-item">Services</div>
    <div class="grid-item">Portfolio</div>
    <div class="grid-item">Insights</div>
    <div class="grid-item">Network</div>
  </section>
</div>